.Contacts{
  width: 100%;
  height: 170px;
  top: 20%;
  margin: none;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
}

.Contact{
  height:170px;
  width: 170px;
  position: sticky;
  float: relative;
  display: inline-flex;
}

.Contact img{
  width: 150px;
  height:150px;

}

.Contact img:hover{
  cursor: pointer;
  width:175px;
  height:175px;
  position: flex;
}
